In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stpwords = stopwords.words('english')
import re

In [3]:
all_data = pd.read_csv('alldata.tsv', sep='\t')

In [4]:
all_data

,id,sentiment,score,review
0,1,1,10,Naturally in a film who's main themes are of m...
1,2,0,2,This movie is a disaster within a disaster fil...
2,3,0,4,"All in all, this is a movie for kids. We saw i..."
3,4,0,2,Afraid of the Dark left me with the impression...
4,5,1,7,A very accurate depiction of small time mob li...
...,...,...,...,...
49995,49996,0,3,It seems like more consideration has gone into...
49996,49997,0,1,I don't believe they made this film. Completel...
49997,49998,0,3,"Guy is a loser. Can't get girls, needs to buil..."
49998,49999,0,3,This 30 minute documentary Buñuel made in the ...
49999,50000,1,8,I saw this movie as a child and it broke my he...

In [22]:
def clean_corpus(text):
    '''
    INPUT
    text - string
    OUTPUT
    clean text
    This function processes the input using the following steps :
    1. Remove punctuation characters
    2. Remove stop words
    '''
    # Remove punctuation characters and numbers
    text = re.sub(r"[^a-zA-Z]", " ", text)
    
    # Tokenize text
    tokens = word_tokenize(text)
        
    clean_text = ''
    for word in tokens:
        clean_tok = word.lower().strip()
        if clean_tok not in stpwords:
            clean_text += f'{clean_tok} '

    return clean_text

In [24]:
clean_corpus(all_data['review'][0])

'naturally film main themes mortality nostalgia loss innocence perhaps surprising rated highly older viewers younger ones however craftsmanship completeness film anyone enjoy pace steady constant characters full engaging relationships interactions natural showing need floods tears show emotion screams show fear shouting show dispute violence show anger naturally joyce short story lends film ready made structure perfect polished diamond small changes huston makes inclusion poem fit neatly truly masterpiece tact subtlety overwhelming beauty '

In [27]:
cleaned_review = [clean_corpus(x) for x in all_data.review]

In [28]:
cleaned_review[0]

'naturally film main themes mortality nostalgia loss innocence perhaps surprising rated highly older viewers younger ones however craftsmanship completeness film anyone enjoy pace steady constant characters full engaging relationships interactions natural showing need floods tears show emotion screams show fear shouting show dispute violence show anger naturally joyce short story lends film ready made structure perfect polished diamond small changes huston makes inclusion poem fit neatly truly masterpiece tact subtlety overwhelming beauty '

In [29]:
all_data['cleaned_review'] = cleaned_review